.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}

.header{
  background-color: #2ed573;
  padding: 14px;
  color: #B53471;
  width: 100%;
}

.form{
margin-top: 20px;
}


.data{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.data_formate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0px 10px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}